<h1>商品詳情</h1>

<ul>
    <li><%= @product.name %></li>
    <li><%= @product.subtitle %></li>
    <li><%= @product.price %></li>
    <li><%= @product.description %></li>
</ul>

<%= link_to "返回商品列表", products_path %>